

<h1>Insert form</h1>
<form action="/insert" method="POST">
    <label for="nom">Nom</label>
    <input type="text" name="nom" id="">
    <label for="prenom">Prenom</label>
    <input type="text" name="prenom" id="">
    <input type="submit"  value ="Insert" id="">
</form>

<h1>Update form</h1>
<form action="/update" method="POST">
    <label for="id">ID </label>
    <input type="text" name="id" id="">
    <label for="nom">Nom </label>
    <input type="text" name="nom" id="">
    <label for="prenom">Prenom</label>
    <input type="text" name="prenom" id="">
    <input type="submit" value="update" id="">
</form>

<h1>Delete form</h1>
<form action="/delete" method="POST">
    <label for="id">ID</label>
    <input type="text" name="id" id="">
    <input type="submit" value="delete">
</form>
